<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

  <!--
    defines diffbot()
    links and joints
  -->
  <xacro:include filename="$(find diffbot)/description/diffbot_description_urdf.xacro"/>

  <!--
    defines diffbot_ros2_control(name)
    things required for ros2_control
  -->
  <xacro:include filename="$(find diffbot)/description/diffbot_ros2_control.xacro"/>

  <xacro:diffbot/>

  <xacro:diffbot_ros2_control name="Diffbot"/>

</robot>
