<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

  <xacro:arg name="prefix" default=""/>

  <!-- defines diffbot(prefix) -->
  <!-- uses the <material> definitions -->
  <xacro:include filename="$(find diffbot)/description/diffbot_description_urdf.xacro"/>

  <!-- defines several <material> names -->
  <xacro:include filename="$(find diffbot)/description/material.xacro"/>

  <!-- defines diffbot_ros2_control(name, prefix) -->
  <xacro:include filename="$(find diffbot)/description/diffbot_ros2_control.xacro"/>

  <xacro:diffbot prefix="$(arg prefix)"/>

  <xacro:diffbot_ros2_control name="Diffbot" prefix="$(arg prefix)"/>

</robot>
